name: Build, test and publish Docker Image to GHCR

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
    types: 
      - opened
      - reopened
      - synchronize
      - ready_for_review

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '9.0.x'

      - name: Cache NuGet packages
        uses: actions/cache@v3
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('backend/**/*.csproj') }}
          restore-keys: |
            ${{ runner.os }}-nuget-

      - name: Restore and build solution
        run: |
          dotnet restore backend/DoIt.sln
          dotnet build backend/DoIt.sln --configuration Release --no-restore

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dotnet-build
          path: '**/bin/Release/**'

  unit-tests:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up .NET SDK
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '9.0.x'

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: dotnet-build
          path: ./

      - name: Run domain unit tests
        run: dotnet test backend/tests/DoIt.Domain.Unit.Tests --no-build --no-restore --configuration Release

  integration-tests:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up .NET SDK
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '9.0.x'

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: dotnet-build
          path: ./

      - name: Run domain unit tests
        run: dotnet test backend/tests//DoIt.Api.Integration.Tests --no-build --no-restore --configuration Release

  build-and-push-docker:
    runs-on: ubuntu-latest
    needs: [ unit-tests, integration-tests ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      
      - name: Set up Docker cache
        uses: actions/cache@v3
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Build Docker image
        run: |
          REPO=$(echo "${{github.actor}}" | tr '[:upper:]' '[:lower:]')
          docker build -t ghcr.io/$REPO/doit-api:latest -f backend/src/DoIt.Api/Dockerfile ./backend

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Push Docker image to GHCR
        run: |
          REPO=$(echo "${{github.actor}}" | tr '[:upper:]' '[:lower:]')
          docker push ghcr.io/$REPO/doit-api:latest